<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moose.foodies">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FoodiesApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodies"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"
            android:exported="false" />

        <activity android:name=".features.feature_ingredients.presentation.IngredientsActivity" />
        <activity android:name=".features.feature_search.presentation.SearchActivity" />
        <activity android:name=".features.feature_favorites.presentation.FavoritesActivity" />
        <activity android:name=".features.feature_recipe.presentation.RecipeActivity">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="foodies.moose.ac"
                    android:pathPrefix="/recipes" />
            </intent-filter>

        </activity>
        <activity android:name=".features.feature_auth.presentation.AuthActivity" />
        <activity android:name=".features.feature_home.presentation.HomeActivity" />
        <activity
            android:name=".features.feature_splash.SplashActivity"
            android:theme="@style/Theme.Foodies.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>